.grabouw-intro#grabouw
  .grabouw-intro__background-black
  .grabouw-intro__block
    h2.grabouw-intro__subtitle
      a(href='#') Hiking in
    h1.grabouw-intro__title Grabouw
    p.grabouw-intro__location
      span.grabouw-intro__location__country South Africa -
      span.grabouw-intro__location__coordinates 34°09'20"S / 19°01'02"E
    .grawbouw-intro__weather__icon
      .grawbouw-intro__weather__col
        i.icon.icon--day-cloudy
      .grawbouw-intro__weather__col
        i.icon.icon--thermometer
      .grawbouw-intro__weather__col
        i.icon.icon--strong-wind
      .grawbouw-intro__weather__col
        i.icon.icon--raindrops
    .grawbouw-intro__weather__info
      .grawbouw-intro__weather__info__item Partially cloudy
      .grawbouw-intro__weather__info__item.hide 21 °C
      .grawbouw-intro__weather__info__item.hide Wind 5 km/h from NE
      .grawbouw-intro__weather__info__item.hide 72% humidity
