.menu-bottom
  nav.menu-bottom__wrapper
    ul
      li.menu-bottom__line
      li.menu-bottom__item
        a.menu-bottom__item__link(href='#grabouw')
          .menu-bottom__item__link--circle
          .menu-bottom__item__link__top-icon
          .menu-bottom__item__link__bottom-text Grabouw
      li.menu-bottom__line
      li.menu-bottom__item
        a.menu-bottom__item__link(href='#')
          .menu-bottom__item__link--circle
          .menu-bottom__item__link__top-icon
          .menu-bottom__item__link__bottom-text Grabouw Lake
      li.menu-bottom__line
      li.menu-bottom__item
        a.menu-bottom__item__link(href='#')
          .menu-bottom__item__link--circle
          .menu-bottom__item__link__top-icon
          .menu-bottom__item__link__bottom-text Kalbaskraal
      li.menu-bottom__line
      li.menu-bottom__item
        a.menu-bottom__item__link(href='#')
          .menu-bottom__item__link--circle
          .menu-bottom__item__link__top-icon
          .menu-bottom__item__link__bottom-text Beaverlac
      li.menu-bottom__line
      li.menu-bottom__item
        a.menu-bottom__item__link(href='#')
          .menu-bottom__item__link--circle
          .menu-bottom__item__link__top-icon
          .menu-bottom__item__link__bottom-text Silvermine
      li.menu-bottom__line
      li.menu-bottom__item
        a.menu-bottom__item__link(href='#')
          .menu-bottom__item__link--circle
          .menu-bottom__item__link__top-icon
          .menu-bottom__item__link__bottom-text Lion's Head
      li.menu-bottom__line
