body {
  overflow: hidden;
}

.loader {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;

  .loader__item {
    border: 1px solid;
    border-radius: 50%;
    @include position(absolute, 50% 47% null null);
    @include border-color(#fff transparent transparent transparent);
    @include size(100px);
    @include animation(spin 2s linear both);
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0));
  }

  50% {
    @include transform(rotate(360deg));
    opacity: 1;
    @include border-color(#fff #fff #fff #fff);
  }

  100% {
    opacity: 0;
    @include transform(scale(15));
  }
}

